div.h2 {
	text-align: center;
	margin: 20px;
	font-size: 38pt;
}

div.chess,
div.robomasters,
div.skyblock {
	display: flex;
	align-items: center;
	margin-left: 60px;

	img.left_wrap {
		margin: 5pt;
		width: 33%;
	}

	p {
		text-align: center;
		font-size: 18pt;
		display: flex;
		align-items: center;
		margin: 0;

		&.chess {
			font-size: 24pt;
		}

		&.sb {
			font-size: 18pt;
		}

		&.tamu_rm {
			font-size: 18pt;
		}
	}
}

header.portfolio {
	text-align: center;
	font-weight: bold;
	font-size: 48pt;
	font-family: 'Ubuntu', sans-serif;
}

iframe.TAMURM_YT {
	width: 50%;
	height: 580px;
}