div.h3 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 28pt;
	margin-left: 60px;
}

header.resume {
	font-family: 'Ubuntu', sans-serif;
	font-size: 48pt;
	font-weight: bold;
	text-align: center;
}

img.lifeguard,
img.tamu_rm {
	width: 33%;
}

p.location {
	font-family: 'Ubuntu', sans-serif;
	font-size: 24pt;
	text-align: center;
}

p.resume {
	font-size: 18pt;
	margin-left: 60px;
	text-align: left;
}

ul.resume {
	font-size: 18pt;
	margin-left: 60px;
}