.page {
	overflow: hidden;
}

h1 {
	font-size: 48pt;
	text-align: center;
	margin-bottom: 2rem;
}

h2 {
	font-size: 38pt;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
	margin-bottom: 1.5rem;
}

h3 {
	font-size: 28pt;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
	margin-bottom: 1rem;
}

h4 {
	font-size: 24pt;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
	margin-bottom: 0.75rem;
}

header {
	font-size: 48pt;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
	margin-bottom: 3rem;
}

div.chess,
div.skyblock {
	width: 100%;
	overflow: hidden;
}

div.pdf_document {
	align-items: center;
	text-align: center;
}

div.tech-stack {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2rem;
	font-size: 18pt;
	font-family: "Ubuntu", sans-serif;
	align-items: center;
	margin-left: 60px;
	margin-bottom: 2rem;
}

div.stack-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

div.youtube {
	align-items: center;
	text-align: center;
}

iframe.pdf_document {
	align-items: center;
	width: 80rem;
	height: 100rem;
}

iframe.youtube {
	align-items: center;
	width: 80rem;
	height: 45rem;
}

img.logo_left {
	width: 33rem;
	height: auto;
	float: left;
}

img.logo_right {
	width: 33rem;
	height: auto;
	float: right;
}

img.logo {
	width: auto;
	height: 4rem;
}

p.bvcog,
p.clip,
p.chess,
p.mpm,
p.pos,
p.sb,
p.scriptsearch,
p.strassen,
p.tamu_rm {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 18pt !important;
	text-align: center !important;
}

svg.light {
	g {
		fill: #e4ebe6;
	}
}

ul.bvcog,
ul.scriptsearch,
ul.clip {
	font-size: 18pt;
	text-align: left;
	list-style-type: disc;
	list-style-position: inside;
}