html {
	background: #181818;
	color: #ececec;
	font-family: "Ubuntu", sans-serif;
}

a {
	&:active {
		color: #ff4040;
		text-decoration: none;
		font-weight: normal;
	}

	&:link {
		color: #add8e6;
	}

	&:hover {
		color: #ffffff;
	}

	&:visited {
		color: #6d4b8d;
	}

	&.skip-link {
		position: fixed;
		top: -40px;
		left: 0;
		background-color: #ffffff;
		color: #000000;
		padding: 0px;
		z-index: 100;

		&:focus,
		&:hover {
			top: 0;
		}
	}
}

span.visually-hidden {
	display: none;
	visibility: hidden;
}

div {
	&.page {
		display: flex;
	}

	&.content {
		margin-left: 60px;
		width: calc(100% - 60px);
	}
}
