div.interest {
    margin-left: 60px;
}

div.resume {
    margin-left: 60px;
}

div.skills {
    margin-left: 60px;
}

header.qualifications {
    text-align: center;
    font-weight: bold;
    font-size: 48pt;
    font-family: 'Ubuntu', sans-serif;
}

iframe.resume {
    margin: 20px;
    width: 90%;
    height: 560px;
}

p.qualifications {
    text-align: left;
    font-size: 18pt;
    margin: 20px;
}