div.h2 {
	text-align: center;
	margin: 20px;
	font-size: 38pt;
}

div#interest,
div#resume,
div#skills,
div#devenv {
	margin-left: 60px;
}

header.qualifications {
	text-align: center;
	font-weight: bold;
	font-size: 6rem;
	font-family: "Ubuntu", sans-serif;
}

iframe {
	&.resume {
		margin: 20px;
		width: 90%;
		height: 1130px;
	}

	&.award {
		margin: 1rem;
		width: 45%;
		height: 35rem;
	}
}

img.svg-inline--fa.resume,
svg.svg-inline--fa.resume {
	height: 100px;
	padding: 5px;
	width: 100px;
}

p {
	&.resume {
		text-align: center;
	}

	&.qualifications {
		text-align: left;
		font-size: 18pt;
		margin: 20px;
	}

	&.awards {
		align-items: center;
		text-align: center;
	}
}

svg {
	&.github {
		g {
			fill: #ffd700;
		}
	}

	&.latex {
		fill: #ffffff;
	}
}
