div#resume {
	width: 90% !important;
	margin: 0 auto !important;
	padding: 0 !important;

	p {
		&.resume {
			width: 100%;
		}
	}

	iframe {
		&.resume {
			width: 100% !important;
			height: 1130px !important;
			border: none !important;
			margin: 0 !important;
			padding: 0 !important;
			max-width: 100% !important;
			display: block !important;
		}
	}
}

div.tooltip {
	position: relative;
	display: inline-block;

	&::after {
		content: attr(data-tip);
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%) translateY(10px);
		background-color: #333333;
		color: #ffffff;
		padding: 5px 10px;
		border-radius: 4px;
		font-size: 14px;
		white-space: nowrap;
		z-index: 1000;
		margin-bottom: 5px;
		opacity: 0;
		transition: opacity 0.3s ease, transform 0.3s ease;
		pointer-events: none;
	}

	&:hover::after {
		opacity: 1;
		transform: translateX(-50%) translateY(0);
	}
}

div.qualifications {
	text-align: center;
	font-size: 18pt;
}

iframe.award {
	width: 45% !important;
	height: 600px !important;
	border: none !important;
	margin: 0rem !important;
	padding: 0.5rem !important;
}

h1 {
	font-size: 48pt;
	text-align: center;
}

h2 {
	font-size: 38pt;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
}

h3 {
	font-size: 28pt;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
}

h4 {
	font-size: 24pt;
	font-family: "Ubuntu", sans-serif;
	text-align: center;
}

header {
	font-size: 48pt;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
}

img.svg-inline--fa.resume,
svg.svg-inline--fa.resume {
	height: 2rem;
	padding: 0;
	width: 2rem;
}

p {
	&.resume {
		text-align: center;
	}

	&.interest {
		text-align: left;
		font-size: 18pt;
	}

	&.awards {
		align-items: center;
		text-align: center;
	}
}

svg {
	&.github {
		g {
			fill: #ffd700;
		}
	}

	&.latex {
		fill: #ffffff;
	}
}