button.btn-hover {
	background-size: 300% 100%;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	-o-transition: all 0.4s ease-in-out;
	margin: 5px;
	text-align: center;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;

	&:hover {
		background-position: 100% 0;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
	}

	&:focus {
		outline: none;
	}

	&.github {
		background-image: linear-gradient(
			to right,
			#214e34,
			#30734c,
			#3c905f,
			#48ad72
		);
	}

	&.linkedin {
		background-image: linear-gradient(
			to right,
			#372772,
			#4a3498,
			#583eb6,
			#7058c6
		);
	}

	&.email {
		background-image: linear-gradient(
			to right,
			#1a17be,
			#2825e4,
			#4c49e9,
			#706eed
		);
	}

	&.phone {
		background-image: linear-gradient(
			to right,
			#ff0035,
			#ff335c,
			#ff5c7c,
			#ff859d
		);
	}
}

h1 {
	all: unset;
}

div {
	&.background {
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
	}

	&.about {
		color: #25283d;
		text-align: center;
	}

	&#about {
		color: #25283d;
		text-align: center;
	}

	&#prog {
		color: #25283d;
		text-align: center;
	}

	&#social {
		color: #25283d;
		text-align: center;
	}

	header.name {
		color: #ffffff;
		text-align: center;
		font-weight: bold;
		font-family: "Ubuntu", sans-serif;
	}

	span {
		&.about {
			background: #a09abcbf;
		}

		&.name {
			background: #800000bf;
			text-align: center;
			font-weight: bold;
			font-family: "Ubuntu", sans-serif;
		}
	}

	p {
		&.about {
			background: #d4bebebf;
			text-align: center;
			width: 45%;
			overflow-wrap: break-word;
			display: inline-block;
			margin-block-start: 0px;
			margin-block-end: 0px;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
			font-size: 24pt;
		}

		&.prog_req {
			background-color: #a09abcbf;
			display: inline-block;
			font-size: 24pt;
			text-align: center;
		}

		&.links {
			display: inline-flex;

			svg {
				&.github {
					g {
						fill: #ffd700;
					}
				}
			}
		}
	}

	&.desktop {
		&.background {
			background-image: url("../../../public/assets/images/RoboMastersSimulation.jpg");
		}

		div {
			&.about {
				font-size: 38pt;
			}

			header.name {
				font-size: 48pt;
			}
		}

		p {
			&.about {
				font-size: 24pt;
			}

			&.prog_req {
				font-size: 24pt;
			}

			&.links {
				margin-top: 175px;
			}
		}

		span {
			&.name {
				font-size: 48pt;
			}
		}

		button.btn-hover {
			width: 115px;
			height: 115px;
		}

		svg.devicon {
			width: 85px;
			height: 85px;
		}
	}

	&.mobile {
		&.background {
			background-image: url("../../../public/assets/images/face.jpg");
		}

		div {
			&.about {
				font-size: 19pt;
			}
		}

		header.name {
			font-size: 24pt;
		}

		p {
			&.about {
				font-size: 12pt;
			}

			&.prog_req {
				font-size: 12pt;
			}

			&.links {
				margin-top: 87.5px;
			}
		}

		span {
			&.name {
				font-size: 24pt;
			}
		}

		button.btn-hover {
			width: 57px;
			height: 57px;
		}

		svg.devicon {
			width: 42px;
			height: 42px;
		}
	}
}

svg {
	&.fa-github {
		color: #f4b400;
	}

	&.fa-linkedin {
		color: #0077b5;
	}

	&.fa-envelope {
		color: #db4437;
		font-size: 6em;
	}

	&.fa-phone {
		color: #0f9d58;
	}
}
